@model CProject.Models.ReservationRecord

@{
    ViewBag.Title = "請假記錄";
}

<h2>請假記錄</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.ReservationTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReservationTime)
                @Html.ValidationMessageFor(model => model.ReservationTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TakeTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TakeTime)
                @Html.ValidationMessageFor(model => model.TakeTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LendingCodeID, "LendingCodeID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LendingCodeID", String.Empty)
                @Html.ValidationMessageFor(model => model.LendingCodeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReaderID, "ReaderID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ReaderID", String.Empty)
                @Html.ValidationMessageFor(model => model.ReaderID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
